{% extends "content_with_footer.html" %}

{% block extra_js %}
<script>
<!--

// Fetch build status using GitHub API and update HTML
function set_ci_status(workflow_file, os_name) {
    let gh_api_url = "https://api.github.com/repos/dosbox-staging/dosbox-staging/";
    fetch(gh_api_url + "actions/workflows/" + workflow_file + "/runs")
        .then(response => {

            // Handle HTTP error
            if (response.status !== 200) {
                console.log("Looks like there was a problem." +
                    "Status Code: " + response.status);
                return;
            }

            // Examine the text in the response
            response.json().then(data => {

                let status = data.workflow_runs
                    .filter(run => run.head_branch == "master")
                    .find(run => run.conclusion == "success");
                // console.log(status);

                let build_link = document.getElementById(os_name + "-build-link");
                build_link.setAttribute("href", status.html_url);

                let build_date = new Date(status.updated_at);
                let date_span = document.getElementById(os_name + "-build-date");
                date_span.textContent = build_date.toUTCString();
            });
        })
        .catch(err => {
            console.log('Fetch Error :-S', err);
        });
}

document.addEventListener("DOMContentLoaded", () => {
    set_ci_status("linux.yml", "linux");
    set_ci_status("windows.yml", "windows");
    set_ci_status("macos.yml", "macos");
});

-->
</script>
{% endblock extra_js %}

{% block page_content %}
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>

    <p>
        <em>Development build artefacts are hosted on GitHub; you need to be logged in to download them.</em>
    </p>

    <div>
        <a id="linux-build-link">Linux</a>
        <span id="linux-build-date">N/A</span>
    </div>

    <div>
        <a id="windows-build-link">Windows</a>
        <span id="windows-build-date">N/A</span>
    </div>

    <div>
        <a id="macos-build-link">macOS</a>
        <span id="macos-build-date">N/A</span>
    </div>

    </p>

    {{ page.content | safe }}
</div>
{% endblock page_content %}
