{% extends "hyde/templates/index.html" %}

{% block extra_head %}
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

      <meta property="og:image" content="https://dosbox-staging.github.io/square-splash.png" />
      <meta property="og:site_name" content="dosbox-staging.github.io" />
      <meta property="og:type" content="object" />
      {% if page.permalink %}
      <meta property="og:title" content="{{ page.title }}">
      <meta property="og:url" content="{{ page.permalink | safe }}" />
      {% else %}
      <meta property="og:title" content="dosbox-staging home">
      <meta property="og:url" content="https://dosbox-staging.github.io/" />
      {% endif %}
      <meta property="og:description" content="dosbox-staging is DOS/x86 emulator focusing on ease of use and current technologies.">

      <style type="text/css">
      <!--
      .youtube > iframe { width: 640px; height: 350px; }
      -->
      </style>

{% block extra_js %}
{% endblock %}
{% endblock %}

{% block sidebar_about %}
<div style="text-align:center">
<a href="/">
    <img src="/dosbox-staging.svg" style="width:85%; display:inline;"/>
</a>
</div>
    <p class="lead" style="font-size:1.2rem">
    <span style="font-weight:bold">dosbox-staging</span> is DOS/x86 emulator
    focusing on ease of use.
    Based on DOSBox; <a href="/about/">read&nbsp;more</a>.
    </p>
    {% if config.description %}
    <p class="lead">{{config.description}}</p>
    {% endif %}
{% endblock %}
